<center>
<form class="add-restaurant" action="/restaurants" method="POST"><br>
  Name:
  <input type="text" name="restaurant[name]" placeholder="Name"><br>
  Cuisine:
  <input type="text" name="restaurant[cuisine]" placeholder="Cuisin"><br>
  Address:
  <input type="text" name="restaurant[address]" placeholder="Address"><br>
  City:
  <input type="text" name="restaurant[city]" placeholder="City"><br>
  Zip Code:
  <input type="text" name="restaurant[zip_code]" placeholder="Zip Code"><br>
  <input type="submit" name="" value="Add Restaurant!">

</form>

</center>
