<center>
<form class="add-restaurant" action="/restaurants/<%=@restaurant.id%>" method="POST"><br>
  Comments:
  <input type="textarea" name="review[review_text]" placeholder="Comments"><br>
  <input type="submit" name="" value="Add Comments!">
</form>

</center>
